################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RPG Application/v17
*.json
*.sqlite
/.vs/GamingRepo
