################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RPG Application/v17
*.json
*.sqlite
/.vs/GamingRepo
/RPG Application/rpg_env/Lib/site-packages
/RPG Application/rpg_env/Scripts
/.vs/RPG Application/v16
